{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container-sm"> 
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3>🕹 ScoreCard • Login</h3>
        </div>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="form-group"> 
                <label class="required" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="_username" required="required" value="{{ last_username }}"/>
            </div>

            <div class="form-group"> 
                <label class="required" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="_password" required="required"/>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="save btn btn-primary" type="submit">Login</button>
        </form>

        <a class="mt-4" href="{{ path('app_register') }}">or register</a>
    </div>
{% endblock %}
