{% extends 'base.html.twig' %}

{% block title %}Played Games{% endblock %}

{% block body %}
<div class="container-sm">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Played Games</h1>
        <a class="btn btn-primary" href="{{ path('playedgame_new') }}">Create New</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Score</th>
                <th scope="col">Game</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for playedGame in playedGames %}
            <tr>
                <th scope="row">{{playedGame.id}}</th>
                <td>{{playedGame.date|date("d/m/Y H:i")}}</td>
                <td>{{playedGame.scoreFinal}}</td>
                <td>{{playedGame.game.name}}</td>
                <td><a href="{{ path('playedgame_edit', {id: playedGame.id}) }}">Bewerken</a></td>
                <td><a href="{{ path('playedgame_delete', {id: playedGame.id}) }}">Verwijderen</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
</div>
{% endblock %}
